body {
      background: #e9eaec;
}

header {
    padding: 10px;     
    height: 40px;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #e9ecec;
    border-bottom: 1px solid #6f7376;
    background-color:#4a4c4f;
    z-index: 200;
}

header h1 {
  display: inline;
}


main {
  margin: 80px auto;
  width: 900px;
  color: #353a3b;
  z-index: 0;
}

main::before {
  content: "";
  position: fixed;
  top: 0; 
  left: 0;
  bottom:0; 
  right:0; 
  background-image: url("bg.gif");
  filter: grayscale(100%);
  opacity: .1;
  z-index: -200;
}


footer { 
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color:#4a4c4f;
}

section.wrapper {
  margin:auto;
  padding: 15px;
  z-index: 0;
  background: #e9eaec;
  box-shadow: 10px 11px 54px 0px rgba(74,76,79,1);
}

section.matrix {
  display: inline-block;
  min-width: 100px;
  min-height: 100px;
  margin:10px;
  box-shadow: 10px 10px 25px 0px rgba(74,76,79,1);
}

td{
  padding: 5px;
}

td.fixed {
  font-weight: bold;
}

.matrix>table {
  margin: auto;
} 

.logo {
  height:40px;
}


